/* --- global styling --- */
html {
    background: #222223;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background: transparent;
  }

  /* navigation bar */
#nav {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #222223;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 200;
  }
  
  #nav a {
    color: #CAC426;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  #nav a:hover {
    color: #aaa;
  }

  /* hero section */
.hero {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222223;
    color: #CAC426;
    z-index: 10;
    text-align: center;
    transition: opacity 0.5s ease;
    scroll-margin-top: 20000px;
  }
  
  #hero-title .letter {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    animation: fadeInUp 0.5s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .hero h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  
  
  .hero .sub-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
    color: #FFFEEC;
    text-align: center;
    margin-top: -80px;
    letter-spacing: 2px;
  }
  
  .hero .sub-title-2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.6rem;
    color: #CAC426;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
  }